.backgroundimg{
    /* position: absolute; */
    display:flex;
    background-color: #E6D3B3;
    width: 100%;
    height: 500px;
    border-radius: 50px;
}
.backgroundimg1{
      /* background-color: white;
    height: 450px;
    width: 250px;
    margin-left: 60px; */
    /* margin-top: 20px; */
    /* border-radius: 10px;
    border-color: white;
   display: inline-block; */
}
.cafe{
    /* position: absolute; */
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 30px;
}
.cafe1{
     border-radius: 20px;
    margin-top: 40px;
    margin-left: 700px;
}
.heading{
    /* background-color: red; */
     /* position: relative; */
    /* margin-left: 43%; */
    /* margin-top: 17%; */
    color: #2c2c2c; 
    text-align: center;
    /* display: inline-block; */
 } 
.hotbevrg{
    text-align: center;
    color: #E6D3B3;
    padding-top: 20px;
    margin-top: 50px;
}
.coldbevrg{
    text-align: center;
    color: #4b2e2b;
padding-top: 20px;
margin-top: 100px;
}
.desert{
    text-align: center;
    color: #E6D3B3;
    margin-top: 130px;
    padding-top: 20px;
}
.special{
     text-align: center;
    color: #4b2e2b;
    margin-top: 130px;
    padding-top: 20px;
}
.backgroundcard{
    background-color:#4b2e2b;
    width: 100%;
    height:1100px;
    /* margin-top: 20px; */
    /* display: flex; */
    flex-wrap: wrap;
    border-radius: 50px;
   
}
.backgroundcard1{
    background-color: #E6D3B3;
    /* padding-top: 10%; */
    border-radius: 50px;
    height: 1130px;
}
.backgroundcard2{
    background-color: #4b2e2b;
 border-radius: 50px;
    /* margin-top: 50px; */
    height: 1130px;
}
.backgroundcard3{
    background-color: #E6D3B3;
    border-radius: 50px;
    height: 1100px;
}
.card1{
    background-color: white;
    height: 450px;
    width: 250px;
    margin-left: 60px;
    /* margin-top: 20px; */
    border-radius: 10px;
    border-color: white;
   display: inline-block;
   /* font-family: sans-serif; */
   /* background-color: brown; */
  
   
}
.price1{
   /* margin-top: 130%; */
    display: inline-block;
    margin-left: 10px;
    font-family: sans-serif;
}
.maincard{
  /* display: flex; */
  margin-top: 40px;
   flex-wrap: wrap;
}
.order{
    background-color: #4b2e2b;
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    /* margin-left:80px; */
    display: inline-block;
}
.cardimg1{
     margin-left: 25px;
    margin-top: 20px;
     border-radius:10px ;
}
.heading1{
    text-align: center;
    /* font-family: sans-serif; */
}
.cardimg2{
    height: 400px;
    width: 300px;
    margin-left: 110px;
    border-radius: 20px;
    display: inline-block;
}
.heading2{
    margin-left: 115px;
    margin-top: 10px;
    font-family: sans-serif;
}
.card2{
    display: inline-block;
}
.cardimg3{
  height: 400px;
    width: 300px;
    margin-left: 110px;
    margin-top: 50px;
    border-radius: 20px;   
}